.bg-img {
    /* The image used */
    background-image: url("../../assets/image1.jpg");
  
    /* Control the height of the image */
    height: 100%;

    /* Control the width of the image */
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    margin: -8px;
  }